<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.demo.dao.UserDao">
    <select id="selectByPrimaryKey" parameterType="com.test.demo.domain.User" resultType="com.test.demo.domain.User">
        SELECT * FROM USER
        WHERE 1 = 1
        <if test="id != null">and id = #{id}</if>
    </select>
</mapper>